/**
 * Windsnet wireless network access web application
 * application styling
 */
 body {
 	padding: 2%;
 }

form {
	width: 100%;
}

div.btn-group {
	padding-left: 40%;
}

.input-group {
	padding: 2%;
}

a#sign_in_reset_account_link {
	display: block;
	padding-left: 60px;
}

label.error {
	font-size: 18px;
	font-weight:  bolder;
	color: red;
}

/* Need to color DDL option text */
select.form-control option {
	color:#666666;
}

.clear {
	margin: 0 10px;
}
.next {
	margin: 0 10px;
}
.submit {
	margin: 0 10px;
}